body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.38);  
  justify-content: center;
  min-height: 100vh;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgba(111, 107, 209, 0.775);
  padding: 30px;
}

.display{
  font-size: 8em;
  font-family: monospace;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.542);
  margin-bottom: 80px;
}

.controls button{
  font-size: 3rem;
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  min-width: 125px;
  border-radius: 10px;
  transition: background-color 0.5 ease;
}

.start-button{
  background-color: rgba(25, 220, 25, 0.752);
}
.start-button:hover{
  background-color: rgba(28, 180, 28, 0.8);
}

.stop-button{
  background-color: rgba(227, 18, 18, 0.943);
}
.stop-button:hover{
  background-color: rgb(174, 39, 39);
}

.reset-button{
  background-color: white;
}
.reset-button:hover{
  background-color: rgba(245, 222, 179, 0.52);
}